#toolbar .ui-button-text,
.ui-menu-item a,
#dialog_output, #dialog_mdebug, #dialog_dimensions {
    font-size: 0.9rem !important;
    font-weight: normal;
}

#dialog_mdebug, #dialog_dimensions {
    font-size: 1.2rem !important;
}

.dialog_mdebug .ui-dialog-titlebar-close,
.dialog_output .ui-dialog-titlebar-close,
.dialog_dimensions .ui-dialog-titlebar-close {
    display: none;
}

#layer_grid {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9990;
    opacity: 0.25;
    background-color: transparent;
}

#layer_grid .col {
    height: 100%;
}

#layer_grid .span_1 {
    background-color: red;
}

#layer_grid .spacer {
    background-color: transparent;
}

#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: inline-block;
}

#toolbar .ui-button {
    margin-right: 0;
    padding: 0.25rem;
}

#toolbar #help {
    position: relative;
    display: inline-block;
}

#toolbar #help ul {
    position: absolute;
    width: 200px;
}

#dialog_output,
#dialog_mdebug,
#dialog_dimensions{
    min-width: 200px;
    overflow: auto;
    display: none;
}
#dialog_mdebug{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 4px;
    display: inline-block;
}
.dialog_dimensions{
    position: fixed;
    left: auto !important;
    right: 0;
    top: 0 !important;
    z-index: 9999;
    overflow: visible;
}
#dialog_dimensions table{
    width: 100%;
}

#dialog_output table {
    width: 100%;
}

#dialog_output table td {
    padding: 5px;
    border: 1px solid grey;
}

#dialog_output table td.spacer {
    padding: 0;
    background-color: grey;
}
#toolbar .ui-state-default,
.ui-widget-content,
#toolbar .ui-widget-content .ui-state-default,
#toolbar .ui-widget-header .ui-state-default{
    border: 0;
    background: #FFF url("./jquery-ui-1.11.4.t3d_debug/images/ui-bg_flat_0_ffffff_40x100.png") repeat-x scroll 50% 50%;
}
#toolbar .ui-state-default{
    color: #DFDFDF;
    background-color: #ffffff;
}
#toolbar .ui-state-hover,
#toolbar .ui-state-active{
    color: #ffffff;
    background: #DFDFDF none;
}
#toolbar button.ui-button-icon-only{
    height: 100%;
}
#windowwidth-button{
    width: 100% !important;
}
.t3d_debug .ui-widget-header{
    background: none #fff;
}