#toolbar .ui-button-text,
.ui-menu-item a,
#dialog_output, #dialog_mdebug{
  font-size: 12px !important;
}
#dialog_mdebug{
  font-size: 15px !important;
}
.dialog_mdebug .ui-dialog-titlebar-close,
.dialog_output .ui-dialog-titlebar-close{
  display: none;
}
#layer_grid{
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 9990;
  opacity: 0.25;
  background-color: transparent;
}
#layer_grid .col{
  height: 100%;
}
#layer_grid .span_1{
  background-color: red;
}
#layer_grid .spacer{
  background-color: transparent;
}

#toolbar {
  position:fixed; top:0; left:0; z-index:9999;
  padding: 4px;
  display: inline-block;
}
#toolbar #help {
  position:relative;
  display: inline-block;
}
#toolbar #help ul {
  position:absolute;
  width: 200px;
}
#dialog_output,
#dialog_mdebug{
  min-width: 200px;
  overflow: auto;
  display: none;
}
#dialog_output table{
  width: 100%;
}
#dialog_output table td{
  padding: 5px;
  border: 1px solid grey;
}
#dialog_output table td.spacer{
  padding: 0;
  background-color: grey;
}