<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>indexed_search template</title>
</head>

<body>

<h1>Indexed Search: Tableless template</h1>


<h2>TEMPLATE_SEARCH_FORM</h2>
<p><em>Template for displaying the search form.</em></p>

<!-- ###SEARCH_FORM### begin -->
<div class="tx-indexedsearch-searchbox searchbox-tmpl-css">
<form action="###ACTION_URL###" method="post" id="tx_indexedsearch">
	<div>
		<input type="hidden" name="tx_indexedsearch[_sections]" value="0" />
		<input type="hidden" name="tx_indexedsearch[_freeIndexUid]" id="tx_indexedsearch_freeIndexUid" value="_" />
		<input type="hidden" name="tx_indexedsearch[pointer]" id="tx_indexedsearch_pointer" value="0" />
		<!-- ###HIDDEN_FIELDS### begin -->
		<input type="hidden" name="###HIDDEN_FIELDNAME###" value="###HIDDEN_VALUE###" />
		<!-- ###HIDDEN_FIELDS### end -->
	</div>
	<input type="text" name="tx_indexedsearch[sword]" value="###SWORD_VALUE###" id="tx-indexedsearch-searchbox-sword" class="tx-indexedsearch-searchbox-sword sword" placeholder="Search" />
  <input type="submit" name="tx_indexedsearch[submit_button]" value=">" id="tx-indexedsearch-searchbox-button-submit" class="tx-indexedsearch-searchbox-button submit" rel="#the_overlay" />
</form>
</div>
<!-- ###SEARCH_FORM### end -->
</body>
</html>
