<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<TITLE>Direct Mail subscription Template</TITLE>
</head>
<body>




<br />
<br />
<br />
<H1>DIRECT MAIL SUBSCRIPTION/ADMINISTRATION TEMPLATES</H1>
<h2>EXAMPLE</h2>













<br /><br /><br /><br /><HR><br /><br /><br />
<em>	Form for creation of a new newsletter recipient:</em>
<br />
<br />



<!-- ###TEMPLATE_CREATE### begin
	Form for creation of a new newsletter recipient
-->
<form name="tt_address_form" method="post" action="###FORM_URL###">
  <fieldset>
    <legend class="powermail_legend">Subscribe to our newsletter</legend>
    
    <div class="gender row">
      <label for="fe_ttaddress_gender_input">Title</label>
      <!--###SUB_REQUIRED_FIELD_gender### begin --><div class="formError"><div class="formErrorContent">This field is required<br><div class="formErrorArrow">&#9660;</div></div></div><!--###SUB_REQUIRED_FIELD_gender### end -->
    
      <select name="FE[tt_address][gender]">
        <option value="">-</option>
      	<option value="f">Mrs.</option>
      	<option value="m">Mr.</option>
      </select>
    </div>
    
    <div class="first_name row">
      <label for="fe_ttaddress_first_name_input">First name</label>
      <!--###SUB_REQUIRED_FIELD_first_name### begin --><div class="formError"><div class="formErrorContent">This field is required<br><div class="formErrorArrow">&#9660;</div></div></div><!--###SUB_REQUIRED_FIELD_first_name### end -->
      <input type="text" name="FE[tt_address][first_name]" />
    </div>
    
    <div class="last_name row">
      <label for="fe_ttaddress_last_name_input">Last name</label>
      <!--###SUB_REQUIRED_FIELD_last_name### begin --><div class="formError"><div class="formErrorContent">This field is required<br><div class="formErrorArrow">&#9660;</div></div></div><!--###SUB_REQUIRED_FIELD_last_name### end -->
      <input type="text" name="FE[tt_address][last_name]" />
    </div>
    
    <div class="email row">
      <label for="fe_ttaddress_email_input">E-Mail</label>
      <!--###SUB_REQUIRED_FIELD_email### begin --><div class="formError"><div class="formErrorContent">This field is required<br><div class="formErrorArrow">&#9660;</div></div></div><!--###SUB_REQUIRED_FIELD_email### end -->
      <input type="text" name="FE[tt_address][email]" />
    </div>
  
    <div class="catlist">
      ###CE_CATLIST###
    </div>
  
    <div class="hiddem">
      <input type="checkbox" name="FE[tt_address][module_sys_dmail_html]" value="1" style="display: none;" />
      ###HIDDENFIELDS###
    </div>
  
    <div class="captcha">
      ###CAPTCHA###
    </div>
  
    <div class="buttons row">
      <input type="submit" name="whatever" value="Cancel" class="submit submit-cancel" onClick="document.forms[0].action='###BACK_URL###';" />
      <input type="submit" name="whatever" value="Subscribe" class="submit submit-submit" />
    </div>
  
    <div class="infomail row">
      If you are subscribed already and want to <a href="###FORM_URL###&cmd=infomail&backURL=###FORM_URL_ENC###">unsubscribe or edit your profile, click here.</a>
    </div>
  </fieldset>
</form>
<!-- ###TEMPLATE_CREATE### end-->




<!-- ###TEMPLATE_CAPTCHA### begin -->
###CAPTCHA_IMG###
<br />
<!--###SUB_REQUIRED_FIELD_captcha### begin
	Same as above...
	EVAL_ERROR_FIELD_email is in addition an error message defined in TypoScript in case an email address does not verify to be of correct syntax.
--><font color=red><strong>Dieses Feld muss ausgefüllt werden!</strong></font><br />
	###EVAL_ERROR_FIELD_captcha###<br />
<!--###SUB_REQUIRED_FIELD_captcha### end-->
<input type="text" size=30 name="FE[tt_address][captcha]" value="" />
<!-- ###TEMPLATE_CAPTCHA### begin -->



















<br /><br /><br /><br /><HR>
<p><br />
  <br /><br />
  <em>	This is the code shown when a new newsletter recipient is created:</em>
  <br />
  <br />
  
  
  <!-- ###TEMPLATE_CREATE_SAVED### begin
	This is the code shown when a new newsletter recipient is created.

	You can use the newly created record as markers on the format ###FIELD_[fieldname]###
-->
  Anmeldungsbestätigung.<br />
  <br />
  Sie haben sich erfolgreich zu unserem Newsletter angemeldet. Eine E-Mail wurde an nachfolgende Adresse versandt, ###FIELD_email###. Diese enthält einen Link zur Bearbeitung Ihres Profils.<br />
  Bitte berücksichtigen Sie, dass Ihre Anmeldung erst vollständig abgeschlossen ist, wenn Sie den Link in der E-Mail angeklickt haben!
  <!-- ###TEMPLATE_CREATE_SAVED### end-->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <br /><br /><br /><br />
</p>
<HR><br /><br /><br />
<em>	This is the form used to edit the existing users.</em>
<br />
<br />


<!-- ###TEMPLATE_EDIT### begin
	This is the form used to edit the existing users.

	The form works with non-logged in users based on email-verification
-->
<form name="tt_address_form" method="post" action="###FORM_URL###">
  <fieldset>
    <legend class="powermail_legend">Daten ändern</legend>
    
    <div class="gender row">
      <label for="fe_ttaddress_gender_input">Title</label>
      <!--###SUB_REQUIRED_FIELD_gender### begin --><div class="formError"><div class="formErrorContent">This field is required<br><div class="formErrorArrow">&#9660;</div></div></div><!--###SUB_REQUIRED_FIELD_gender### end -->
    
      <select name="FE[tt_address][gender]">
        <option value="">-</option>
      	<option value="f">Mrs.</option>
      	<option value="m">Mr.</option>
      </select>
    </div>
    
    <div class="first_name row">
      <label for="fe_ttaddress_first_name_input">First name</label>
      <!--###SUB_REQUIRED_FIELD_first_name### begin --><div class="formError"><div class="formErrorContent">This field is required<br><div class="formErrorArrow">&#9660;</div></div></div><!--###SUB_REQUIRED_FIELD_first_name### end -->
      <input type="text" name="FE[tt_address][first_name]" />
    </div>
    
    <div class="last_name row">
      <label for="fe_ttaddress_last_name_input">Last name</label>
      <!--###SUB_REQUIRED_FIELD_last_name### begin --><div class="formError"><div class="formErrorContent">This field is required<br><div class="formErrorArrow">&#9660;</div></div></div><!--###SUB_REQUIRED_FIELD_last_name### end -->
      <input type="text" name="FE[tt_address][last_name]" />
    </div>
    
    <div class="email row">
      <label for="fe_ttaddress_email_input">E-Mail</label>
      <!--###SUB_REQUIRED_FIELD_email### begin --><div class="formError"><div class="formErrorContent">This field is required<br><div class="formErrorArrow">&#9660;</div></div></div><!--###SUB_REQUIRED_FIELD_email### end -->
      <input type="text" name="FE[tt_address][email]" />
    </div>
  
    <div class="catlist">
      ###CE_CATLIST###
    </div>
  
    <div class="hiddem">
      <input type="checkbox" name="FE[tt_address][module_sys_dmail_html]" value="1" style="display: none;" />
      ###HIDDENFIELDS###
    </div>
  
    <div class="captcha">
      ###CAPTCHA###
    </div>
  
    <div class="buttons row">
      <input type="Submit" name="whatever" value="Update">
    </div>
  
    <div class="infomail row">
      Click <a href="###FORM_URL###&rU=###REC_UID###&aC=###AUTH_CODE###&cmd=delete">here</a> to delete (!) your registration!
    </div>
  </fieldset>
</form>

<!-- ###TEMPLATE_EDIT### end-->



















<br /><br /><br /><br /><HR><br /><br /><br />
<em>	This is displayed when a user has updated his profile:</em>
<br />
<br />


<!-- ###TEMPLATE_EDIT_SAVED### begin
	This is displayed when a user has updated his profile:

	You can use the newly updated record as markers on the format ###FIELD_[fieldname]###
-->

<div class="row">
  Sie haben Ihr Profil aktualisiert.<br /><br />Die neuen Einträge lauten:<br />
</div>
<div class="row">
  <div class="span_9 col">Title</div>
  <div class="span_15 col">###FIELD_gender###</div>
</div>
<div class="row">
  <div class="span_9 col">First name</div>
  <div class="span_15 col">###FIELD_first_name###</div>
</div>
<div class="row">
  <div class="span_9 col">Last name</div>
  <div class="span_15 col">###FIELD_last_name###</div>
</div>
<div class="row">
  <div class="span_9 col">E-Mail</div>
  <div class="span_15 col">###FIELD_email###</div>
</div>
<div class="row">
  <a href="###FORM_URL###&cmd=edit&rU=###FIELD_uid###&aC=###AUTH_CODE###">Go back to edit.</a>
</div>

<!-- ###TEMPLATE_EDIT_SAVED### end-->




























<br /><br /><br /><br /><HR><br /><br /><br />
<em>		This form is used to send the infomails.</em>
<br />
<br />



<!-- ###TEMPLATE_INFOMAIL### begin
	This form is used to send the infomails.
	You could also use this as a "did you forget your password?" service form.
-->

<form name="tt_address_form" method="post" action="###FORM_URL###" class="template_infomail">
  <fieldset>
    <legend class="powermail_legend">Infomail</legend>
    
    <div class="email row single">
      Do you wish to edit your profile?<br />
<br />
Enter the email address by which you're registered here, and a link to the administration will be sent to your account:
    </div>
    
    <div class="email row single">
      <input type="text" name="fetch" />
    </div>
  
    <div class="hiddem">
      <input type="checkbox" name="FE[tt_address][module_sys_dmail_html]" value="1" style="display: none;" />
      ###HIDDENFIELDS###
    </div>
  
    <div class="captcha">
      ###CAPTCHA###
    </div>
  
    <div class="buttons row">
      <input type="submit" name="whatever" value="Send" />
    </div>
  </fieldset>
</form>
<!-- ###TEMPLATE_INFOMAIL### end-->


















<br /><br /><br /><br /><HR><br /><br /><br />
<em>		This template is the response page when a users has requested his password send to his email.</em>
<br />
<br />

<!-- ###TEMPLATE_INFOMAIL_SENT### begin
	This template is the response page when a users has requested his password send to his email.
-->
###GW1B###An email has been sent to your account with the required information###GW1E###<br />
<br />
###GW2B###

<a href="###BACK_URL###"><strong>Go back...</strong></a><br />
###GW2E###

<!-- ###TEMPLATE_INFOMAIL_SENT### end-->



<br /><br /><br /><br /><HR><br /><br /><br />
<em>		This template is the response page when no email is found.</em>
<br />
<br />

<!-- ###TEMPLATE_INFOMAIL_NORECORD### begin
	This template is the response page when no email is found.
-->
###GW1B###The email is not registered.###GW1E###<br />
<br />
###GW2B###

<a href="###BACK_URL###"><strong>Go back to register.</strong></a><br />
###GW2E###

<!-- ###TEMPLATE_INFOMAIL_NORECORD### end-->











<br /><br /><br /><br /><HR><br /><br /><br />
<em>		This template is the response page when a users has delete his subscription.</em>
<br />
<br />

<!-- ###TEMPLATE_DELETE_SAVED### begin
	This is the message displayed if you have just deleted your subscription
-->

<div class="row">
  You're now unsubscribed!<br />
</div>
<div class="row">
  <div class="span_9 col">Title</div>
  <div class="span_15 col">###FIELD_gender###</div>
</div>
<div class="row">
  <div class="span_9 col">First name</div>
  <div class="span_15 col">###FIELD_first_name###</div>
</div>
<div class="row">
  <div class="span_9 col">Last name</div>
  <div class="span_15 col">###FIELD_last_name###</div>
</div>
<div class="row">
  <div class="span_9 col">E-Mail</div>
  <div class="span_15 col">###FIELD_email###</div>
</div>


<!-- ###TEMPLATE_DELETE_SAVED### end-->


















<br />
<br />
<h2>'Setfixed' templates:</h2>


<br /><br /><br /><br /><HR><br /><br /><br />
<em>This template is the response page when a users has clicked a setfixed link.</em>
<br />
<br />
<!-- ###TEMPLATE_SETFIXED_OK### begin
	This is the message displayed if you have just deleted your subscription
-->
<div class="row">
Your subscription was approved<br />
</div>
<div class="row">
  <div class="span_9 col">Title</div>
  <div class="span_15 col">###FIELD_gender###</div>
</div>
<div class="row">
  <div class="span_9 col">First name</div>
  <div class="span_15 col">###FIELD_first_name###</div>
</div>
<div class="row">
  <div class="span_9 col">Last name</div>
  <div class="span_15 col">###FIELD_last_name###</div>
</div>
<div class="row">
  <div class="span_9 col">E-Mail</div>
  <div class="span_15 col">###FIELD_email###</div>
</div>

<!-- ###TEMPLATE_SETFIXED_OK### end-->


<br /><br /><br /><br /><HR><br /><br /><br />
<em>This template is the response page when a users has clicked a setfixed link.</em>
<br />
<br />
<!-- ###TEMPLATE_SETFIXED_OK_DELETE### begin
	This is the message displayed if you have just deleted your subscription
-->
<div class="row">
Your subscription was DELETED!<br />
</div>
<div class="row">
  <div class="span_9 col">Title</div>
  <div class="span_15 col">###FIELD_gender###</div>
</div>
<div class="row">
  <div class="span_9 col">First name</div>
  <div class="span_15 col">###FIELD_first_name###</div>
</div>
<div class="row">
  <div class="span_9 col">Last name</div>
  <div class="span_15 col">###FIELD_last_name###</div>
</div>
<div class="row">
  <div class="span_9 col">E-Mail</div>
  <div class="span_15 col">###FIELD_email###</div>
</div>

<!-- ###TEMPLATE_SETFIXED_OK_DELETE### end-->




<br /><br /><br /><br /><HR><br /><br /><br />
<em>This template is the response page when a users has clicked a setfixed link.</em>
<br />
<br />
<!-- ###TEMPLATE_SETFIXED_FAILED### begin
	This is the message displayed if you have just deleted your subscription
-->

###GW1B###Sorry, setting subscription options failed!###GW1E###<br />
<br />
###GW2B###
May happen if you click the setfixed link a second time (if the record has changed since the setfixed link was generated this error will happen!)
###GW2E###
<!-- ###TEMPLATE_SETFIXED_FAILED### end-->
















<br /><br /><br /><br /><HR><br /><br /><br />
<em>	Authentication failed message.</em>
<br />
<br />

<!-- ###TEMPLATE_AUTH### begin
	Authentication failed message
-->
###GW1B###Authentication failed!###GW1E###<br />
<br />
###GW2B###
For some reason the authentication failed.
###GW2E###
<!-- ###TEMPLATE_AUTH### end-->


























<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<H1>EMAIL TEMPLATES:</H1>
In these plain text email templates the first line with content is used as subject in the mails.<br />

<br /><br /><br /><br /><HR><br /><br /><br />
<em>This template is used to notify a person by email that he is subscribed to the newsletter.<br />
You can use the newly created record as markers on the format ###FIELD_[fieldname]###
</em>
<br />
<br />


<pre>
<!-- ###EMAIL_TEMPLATE_CREATE_SAVED### begin
	This template is used to notify a person by email that he is subscribed to the newsletter.
	You can use the newly created record as markers on the format ###FIELD_[fieldname]###
-->
<!--###SUB_RECORD###-->
ARGO-HYTOS Newsletter

Sehr geehrte[r] ###FIELD_tx_directmailsubscription_localgender### ###FIELD_last_name###

Sie haben sich hiermit zu unserem Newsletter angemeldet.


WICHTIG:

Damit die Anmeldung vollständig abgeschlossen wird, klicken Sie bitte hier:
###THIS_URL######FORM_URL######SYS_SETFIXED_approve###

Um die Anmeldung abzulehnen und den Eintrag vollständig aus der Datenbank zu löschen, klicken Sie bitte hier:
###THIS_URL######FORM_URL######SYS_SETFIXED_DELETE###

Wenn Sie Ihre persönlichen Daten ändern möchten, klicken Sie bitte hier:
###THIS_URL######FORM_URL###&cmd=edit&aC=###SYS_AUTHCODE###&rU=###FIELD_uid###


<!--###SUB_RECORD###-->
<!-- ###EMAIL_TEMPLATE_CREATE_SAVED### end-->





<br /><br /><br /><br /><HR><br /><br /><br />
<em>This template is used to notify a person by email that he has confirmed the subscription.<br />
You can use the newly created record as markers on the format ###FIELD_[fieldname]###
</em>
<br />
<br />


<pre>
<!-- ###EMAIL_TEMPLATE_SETFIXED_approve### begin
	This template is used to notify a person by email that he has confirmed his subscription
	You can use the newly created record as markers on the format ###FIELD_[fieldname]###
-->
<!--###SUB_RECORD###-->
ARGO-HYTOS Newsletter

Sehr geehrte[r] ###FIELD_tx_directmailsubscription_localgender### ###FIELD_last_name###

Sie haben die Anmeldung erfolgreich abgeschlossen.
Wenn Sie Ihre persönlichen Daten ändern möchten, klicken Sie bitte hier:
###THIS_URL######FORM_URL###&cmd=edit&aC=###SYS_AUTHCODE###&rU=###FIELD_uid###

<!--###SUB_RECORD###-->
<!-- ###EMAIL_TEMPLATE_SETFIXED_approve### end-->
</pre>




<br /><br /><br /><br /><HR><br /><br /><br />
<em>This is the template used for the administrator notifycation email upon a new subscription.<br />
You can use the newly created record as markers on the format ###FIELD_[fieldname]###
</em>
<br />
<br />


<pre>
<!-- ###EMAIL_TEMPLATE_CREATE_SAVED-ADMIN### begin
 	This is the template used for the administrator notifycation email upon a new subscription.
	You can use the newly created record as markers on the format ###FIELD_[fieldname]###
-->
<!--###SUB_RECORD###-->
Admin: Neue Anmeldung

<!--Title: ###FIELD_gender###<br />-->
Vorname: ###FIELD_first_name###<br />
Nachname: ###FIELD_last_name###<br />
Firma: ###FIELD_company###<br />
Funktion: ###FIELD_title###<br />
E-Mail: ###FIELD_email###<br />
<!--###SUB_RECORD###-->
<!-- ###EMAIL_TEMPLATE_CREATE_SAVED-ADMIN### end-->
</pre>




<br /><br /><br /><br /><HR><br /><br /><br />
<em>The template for forgotten passwords (infomail 'FORGOTPASSWORD' template!)</em>
<br />
<br />
<pre>
<!-- ###EMAIL_TEMPLATE_FORGOTPASSWORD### begin
	The template for forgotten passwords (infomail 'FORGOTPASSWORD' template!)
-->
<!--###SUB_RECORD###-->
ARGO-HYTOS Newsletter, Admin link

Sehr geehrte[r] ###FIELD_tx_directmailsubscription_localgender### ###FIELD_last_name###

Wenn Sie Ihre persönlichen Daten ändern möchten, klicken Sie bitte hier:
###THIS_URL######FORM_URL###&cmd=edit&aC=###SYS_AUTHCODE###&rU=###FIELD_uid###

Wenn Sie sich vom Newsletter abmelden möchten, klicken Sie bitte hier:
###THIS_URL######FORM_URL###&cmd=delete&aC=###SYS_AUTHCODE###&rU=###FIELD_uid###
<!--###SUB_RECORD###-->
<!-- ###EMAIL_TEMPLATE_FORGOTPASSWORD### end-->
</pre>





<br /><br /><br /><br /><HR><br /><br /><br />
<em>Template used if the infomail was empty!</em>
<br />
<br />
<pre>
<!-- ###EMAIL_TEMPLATE_NORECORD### begin
	Template used if the infomail was empty!
-->
Eintrag nicht gefunden.

You have requested information about a subscription, but nothing was found.

Sorry.

<!-- ###EMAIL_TEMPLATE_NORECORD### end-->
</pre>









</body>
</html>