<div class="body row row-2">
  <div class="row row-1">
    <div class="span_2 col col-1">
      <div class="empty"></div>
    </div>
    <div class="span_20 col col-3">
      <div class="content content_head">{content_head -> f:format.raw()}</div>
    </div>
    <div class="span_2 col col-3">
      <div class="empty"></div>
    </div>
  </div>
  <div class="row row-2">
    <div class="span_2 col col-1">
      <div class="empty"></div>
    </div>
    <f:if condition="{layout}==1">
    <div class="span_13 col col-3">
      <div class="content content_main">{content_main -> f:format.raw()}</div>
    </div>
    <div class="span_2 col col-3">
      <div class="empty"></div>
    </div>
    <div class="span_5 col col-4">
      <div class="content content_right"><f:cObject typoscriptObjectPath="lib.content_right" /></div>
    </div>
    </f:if>
    <f:if condition="{layout}==2">
    <div class="span_20 col col-3">
      <div class="content content_main">{content_main -> f:format.raw()}</div>
    </div>
    </f:if>
    <div class="span_2 col col-5">
      <div class="empty"></div>
    </div>
  </div>
</div>