<div class="footer-wrapper">
    <div class="footer">
        <div class="footer-col-1 col">
          <div class="obj_address">
          	<f:cObject typoscriptObjectPath="lib.obj_address" />
          </div>
        </div>
        <div class="footer-col-2 col">
          <div class="nav_footer_1">
            <f:cObject typoscriptObjectPath="lib.nav_footer_1" />
          </div>
        </div>
        <div class="footer-col-3 col">
          <div class="nav_footer_2">
            <f:cObject typoscriptObjectPath="lib.nav_footer_2" />
          </div>
        </div>
        <div class="footer-col-4 col">
          <div class="obj_map">
            <f:cObject typoscriptObjectPath="lib.obj_map" />
          </div>
        </div>
    </div>
</div>