<div class="footer row row-3">
  <div class="row row-1 bg-6">
    <div class="span_1 col col-1">
      <div class="empty"></div>
    </div>
    <div class="span_22 col col-2">
      <div class="nav nav_footer_1">
        <f:cObject typoscriptObjectPath="lib.nav_footer_1" />
      </div>
    </div>
    <div class="span_1 col col-3">
      <div class="empty"></div>
    </div>
  </div>
  <div class="row row-2">
    <div class="span_3 col col-1">
      <div class="obj obj_bg_footer">
        <f:cObject typoscriptObjectPath="lib.obj_bg_footer" />
      </div>
    </div>
    <div class="span_7 col col-2">
      <div class="obj obj_address">
        <f:cObject typoscriptObjectPath="lib.obj_address" />
      </div>
    </div>
    <div class="span_8 col col-3">
      <div class="row row-1">
        <div class="obj obj_newsletter">
          <f:cObject typoscriptObjectPath="lib.obj_newsletter" />
        </div>
      </div>
      <div class="row row-2">
        <div class="span_12 col col-1">
          <div class="nav nav_footer_2">
            <f:cObject typoscriptObjectPath="lib.nav_footer_2" />
          </div>
        </div>
        <div class="span_12 col col-2">
          <div class="nav nav_footer_3">
            <f:cObject typoscriptObjectPath="lib.nav_footer_3" />
          </div>
        </div>
      </div>
    </div>
    <div class="span_5 col col-4">
      <div class="obj obj_facebook">
        <f:cObject typoscriptObjectPath="lib.obj_facebook" />
      </div>
    </div>
    <div class="span_1 col col-5">
      <div class="empty"></div>
    </div>
  </div>
</div>