<div class="header row row-1 bg-2">
  <div class="row row-1">
    <div class="span_2 col col-1">
      <div class="empty"></div>
    </div>
    <div class="span_6 col col-2">
      <div class="obj_logo"><f:cObject typoscriptObjectPath="lib.obj_logo" /></div>
    </div>
    <div class="span_14 col col-3">
      <div class="nav_header"><f:cObject typoscriptObjectPath="lib.nav_header" /></div>
    </div>
    <div class="span_2 col col-4">
      <div class="empty"></div>
    </div>
  </div>
  <div class="row row-2 bg-3">
    <div class="span_2 col col-1">
      <div class="empty"></div>
    </div>
    <div class="span_20 col col-1">
      <div class="nav_main"><f:cObject typoscriptObjectPath="lib.nav_main" /></div>
    </div>
    <div class="span_2 col col-3">
      <div class="empty"></div>
    </div>
  </div>
</div>