<div class="header row row-1">
    <div class="row row-1">
        <div class="span_6 col col-1">
            <div class="obj obj_logo">
                <f:cObject typoscriptObjectPath="lib.obj_logo"/>
            </div>
        </div>
        <div class="span_12 col col-2">
            <div class="obj obj_claim">
                <f:cObject typoscriptObjectPath="lib.obj_claim"/>
            </div>
        </div>
        <div class="span_6 col col-3">
            <div class="empty"></div>
        </div>
    </div>
    <div class="row row-2 bg-6">
        <div class="span_1 col col-1">
            <div class="empty"></div>
        </div>
        <div class="span_22 col col-2">
            <div class="nav nav_main">
                <f:cObject typoscriptObjectPath="lib.nav_main"/>
            </div>
        </div>
        <div class="span_1 col col-3">
            <div class="empty"></div>
        </div>
    </div>
</div>