<div class="header-wrapper">
    <div class="header">
        <div class="header-row-1-wrapper">
          <div class="header-row-1">
            <div class="nav_header">
            <f:cObject typoscriptObjectPath="lib.nav_header" />
            </div>
          </div>
        </div>
        <div class="header-row-2">
          <div class="header-row-2-col-1 col">
            <div class="obj_logo">
              <f:cObject typoscriptObjectPath="lib.obj_logo" />
            </div>
          </div>
          <div class="header-row-2-col-2 col">
            <div class="obj_claim"><f:cObject typoscriptObjectPath="lib.obj_claim" /></div>
          </div>
          <div class="header-row-2-col-3 col">
            <div class="obj_search">
              <f:cObject typoscriptObjectPath="lib.obj_search" />
            </div>
          </div>
        </div>
        <div class="header-row-3">
          <div class="obj_header_row_3_balken">
          </div>
        </div>
        <div class="header-row-4">
          <div class="nav_main">
            <f:cObject typoscriptObjectPath="lib.nav_main" />
          </div>
        </div>
        <div class="header-row-5">
          <div class="obj_header_pic">
            <f:cObject typoscriptObjectPath="lib.obj_header_pic" />
          </div>
        </div>
    </div>
</div>