<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>PHYSIO THERAPIE 4 DOGS</title>
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
<link href="../css/reset.css" rel="stylesheet" type="text/css" />
<link href="../css/ie.css" rel="stylesheet" type="text/css" />
<link href="../css/responsive-gs-12col.css" rel="stylesheet" type="text/css" />
<link href="../css/normal.css" rel="stylesheet" type="text/css" />
</head>
<body id="" class="bg-1">
	<div class="all container row">
    <div class="header row row-1 bg-2">
      <div class="row row-1">
        <div class="span_2 col col-1">
          <div class="empty"></div>
        </div>
        <div class="span_6 col col-2">
          <div class="obj_logo"><a href="link"><img src="../image/obj_logo.gif" width="324" height="158" border="0" /></a>
          </div>
        </div>
        <div class="span_14 col col-3">
          <div class="nav_header">
            <ul class="level-1">
              <li><a href="link">Kontakt</a></li>
              <li><a href="link">Neues</a></li>
              <li><a href="link">Impressum</a></li>
              <li><a href="link">Datenschutz</a></li>
              <li><a href="link">Rund um den Hund</a></li>
              <li><a href="link" class="facebook"><img src="../image/icon_facebook.gif" width="19" height="19" border="0" /></a></li>
            </ul>
          </div>
        </div>
        <div class="span_2 col col-4">
          <div class="empty"></div>
        </div>
      </div>
      <div class="row row-2 bg-3">
        <div class="span_2 col col-1">
          <div class="empty"></div>
        </div>
        <div class="span_20 col col-1">
          <div class="nav_main">
            <ul class="level-1">
              <li class="act"><a href="link" class="color-1">Philosophie</a></li>
              <li class=""><a href="link" class="color-1">Leistungen</a></li>
              <li class=""><a href="link" class="color-1">Anwendungsgebiete</a></li>
              <li class=""><a href="link" class="color-1">Blutegel-Therapie</a></li>
              <li class=""><a href="link" class="color-1">Behandlungsablauf</a></li>
              <li class=""><a href="link" class="color-1">Degility</a></li>
              <li class=""><a href="link" class="color-1">Bildergalerie</a></li>
            </ul>
          </div>
        </div>
        <div class="span_2 col col-3">
          <div class="empty"></div>
        </div>
      </div>
    </div>
    <div class="body row row-2">
      <div class="row row-1 layout-1">
        <div class="span_2 col col-1">
          <div class="empty"></div>
        </div>
        <div class="span_20 col col-3">
          <div class="content content_main">
          	<h1 class="color-3">fit wie paul.<br />herzlich<br />willkommen.</h1>
          	<h2 class="color-2">Lorem.</h2>
          </div>
        </div>
        <div class="span_2 col col-3">
          <div class="empty"></div>
        </div>
      </div>
      <div class="row row-1 layout-2">
        <div class="span_2 col col-1">
          <div class="empty"></div>
        </div>
        <div class="span_13 col col-3">
          <div class="content content_main">
          	<h1 class="color-3">fit wie paul.<br />herzlich<br />willkommen.</h1>
          	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum so ciis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mu Donec quam felis, ultricies nec, pellente tincidunt. Cras dapibuivamus elemel ntum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitoreu, consequat vitaere, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra.

Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum soc que eu, pretium quis, sem. Nulla consequat massa quieni kerlpede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis.</p>
          </div>
        </div>
        <div class="span_2 col col-3">
          <div class="empty"></div>
        </div>
        <div class="span_5 col col-4">
          <div class="content content_right">
          	<div class="group obj_box">
          	</div>
          </div>
        </div>
        <div class="span_2 col col-5">
          <div class="empty"></div>
        </div>
      </div>
    </div>
    <div class="footer row row-3 bg-3">
      <div class="row row-1">
        <div class="span_2 col col-1">
          <div class="empty"></div>
        </div>
        <div class="span_20 col col-2">
          <div class="obj_contact">
            <h3 class="color-3">physiotherapie4dogs</h3>
            <p class="color-1 font-1">Silke Völlnagel | Wassily-Kandinsky-Weg 1 | 71679 Asperg | Fon 07141 6481222 | <a href="link" class="color-1 font-1">fit-wie-paul@physio4dog.de</a></p>
          </div>
        </div>
        <div class="span_2 col col-3">
          <div class="empty"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="objs"></div>
</body>
</html>
