<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Artemis-Events</title>
<link href='http://fonts.googleapis.com/css?family=Asap|Nova+Cut' rel='stylesheet' type='text/css'>
<link href="../css/reset.css" rel="stylesheet" type="text/css" />
<link href="../css/ie.css" rel="stylesheet" type="text/css" />
<link href="../css/example_grid.css" rel="stylesheet" type="text/css" />
<link href="../css/normal.css" rel="stylesheet" type="text/css" />
</head>
<body id="" class="bg-2">
	<div class="all container row bg-1">
    <div class="header row row-1">
      <div class="row row-1">
        <div class="span_6 col col-1">
          <div class="obj obj_logo"><a href="link"><img src="../image/obj_logo.gif" width="300" height="160" border="0" /></a>
          </div>
        </div>
        <div class="span_12 col col-2">
          <div class="obj obj_claim"><span>Tänzerin & Lehrerin für orientalischen Tanz und Zumba Instruction</span></div>
        </div>
        <div class="span_6 col col-3">
          <div class="empty"></div>
        </div>
      </div>
      <div class="row row-2 bg-6">
        <div class="span_1 col col-1">
          <div class="empty"></div>
        </div>
        <div class="span_22 col col-2">
          <div class="nav nav_main">
            <ul class="level-1">
              <li class="level-1 norm"><a href="link" class="level-1 norm">Artemis – Tänzerin & Lehrerin</a></li>
              <li class="level-1 norm"><a href="link" class="level-1 norm">Shows & Events</a></li>
              <li class="level-1 click"><a href="link" class="level-1 click"><div class="balken-outer"><div class="balken"></div></div>Kurse & Workshops</a>
                <ul class="level-2">
                  <li class="level-2 norm"><a href="link" class="level-2 norm">Kurse</a></li>
                  <li class="level-2 norm"><a href="link" class="level-2 norm">Workshops</a></li>
                  <li class="level-2 norm"><a href="link" class="level-2 norm">Unterpunkt</a></li>
                </ul>
              </li>
              <li class="level-1 norm"><a href="link" class="level-1 norm">Referenzen</a></li>
              <li class="level-1 norm"><a href="link" class="level-1 norm">Fotos & Videos</a></li>
              <li class="level-1 norm"><a href="link" class="level-1 norm">OTF<sup>®</sup> Orientalisches Tanzfestival</a></li>
              <li class="level-1 norm"><a href="link" class="level-1 norm">Kontakt</a></li>
            </ul>
          </div>
        </div>
        <div class="span_1 col col-3">
          <div class="empty"></div>
        </div>
      </div>
    </div>
    <div class="body row row-2">
      <div class="obj obj_vorhang"><div><div class="bg"></div><div class="image"><img src="../image/bg_vorhang.png" width="1272" height="58" border="0" /></div></div></div>
      <div class="row row-1 layout-1" style="display: none;">
        <div class="span_17 col col-1">
          <div class="content content_main">
            <div class="row">
              <div class="obj_startseite text">
                <p>Aktuell | 13.06.2014</p>
                <h1>Artemis als<br />Galatänzerin in<br />Vancouver</h1>
              </div>
              <div class="obj_startseite bild">
                <img src="../image/startseite.jpg" width="948" height="967" border="0" />
              </div>
            </div>
          </div>
        </div>
        <div class="span_7 col col-2">
          <div class="content content_right">
            <div class="obj_blocks">
              <div class="row">
                <div class="obj obj_block bg-4">
                  <h3>Artemis als Showact</h3>
                  <p>Ich trete gerne als Showact auf Ihrem Fimen-Event oder Ihrer privaten Veranstaltung (Geburtstage, Hochzeiten, ...) auf.</p>
                  <a href="link">Artemis buchen &gt;</a>
                </div>
              </div>
              <div class="row">
                <div class="obj obj_block bg-3">
                  <h3>Kurse</h3>
                  <p>Donnerstags / 18:45 - 20:00 Uhr</p>
                  <h4>Oriental Jazz</h4>
                  <a href="link">Infos und Anmeldung &gt;</a>
                  <a href="link">Alle Kurse &gt;</a>
                </div>
              </div>
              <div class="row">
                <div class="obj obj_block bg-3">
                  <h3>Workshops</h3>
                  <p>Termin nach Bedarf</p>
                  <h4>Junggesellinnenabschied "1001 Nacht"</h4>
                  <a href="link">Infos und Terminabsprache &gt;</a>
                  <a href="link">Alle Workshops &gt;</a>
                </div>
              </div>
              <div class="row">
                <div class="obj obj_block bg-3">
                  <h3>Shows & Events</h3>
                  <p>07.06.14 / Vancouver</p>
                  <h4>Artemis als Workshop-Dozentin und Galatänzerin in Kanada</h4>
                  <a href="link">Weiterlesen &gt;</a>
                  <a href="link">Alle Shows & Events &gt;</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-1 layout-2">
        <div class="span_4 col col-1">
          <div class="row row-1">
            <div class="obj obj_page_title">
              <h3>Seitentitle</h3>
            </div>
          </div>
          <div class="row row-2">
            <div class="nav nav_sub">
              <ul class="level-1">
                <li class="level-1 norm"><a class="level-1 norm" href="link">Punkt 01</a></li>
                <li class="level-1 click"><a class="level-1 click" href="link">Punkt 02</a></li>
                <li class="level-1 norm"><a class="level-1 norm" href="link">Punkt 03</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="span_13 col col-2">
          <div class="content content_main">
            <div class="row">
              <div class="span_24 col col-1">
                <h1>Artemis – Tänzerin und Lehrerin für Orientalischen Tanz und Zumba Instruction</h1>
                <p class="bodytext"><strong>Bereits im Kindesalter zeigte sich meine Vorliebe für Musik, Rhythmus und Bewegung. Mit Freude nahm ich Flöten-, Gitarren- und Klavierunterricht. Mit der gleichen Begeisterung ging ich zum Kindertanzen. Im Teenager-Alter erlernte ich wie die meisten der Gleichaltrigen in der Tanzschule das Standardtanzen.</strong></p>

<p class="bodytext">Zu dieser Zeit zeigte sich jedoch meine Leidenschaft für die Orientalische Musik und den Bauchtanz mit seinen faszinierenden Bewegungsabläufen.</p>

<p class="bodytext">Bei einem mehrjährigen Aufenthalt in Griechenland lernte ich die griechische Folklore und den dort beliebten Bauchtanz – genannt Tsiftetelli- kennen.</p>

<p class="bodytext">Wieder zurück in Deutschland hatte ich das Bedürfnis nach klaren westlichen Strukturen und nahm Unterricht in Jazztanz. Die Liebe zur Arabischen Musik holte mich wieder ein und meine Passion für den Orientalischen Tanz führte mich in eine renommierte Tanzschule für Orientalischen Tanz. Das ist jetzt länger als 10 Jahre her.</p>

<p class="bodytext">Bereits nach 3 Jahren unterrichtete ich in der o.g. Tanzschule die Anfänger, Währenddessen absolvierte ich  eine Ausbildung zur Lehrerin für Orientalischen Tanz und Körpererfahrung bei Anatha Hahnemann in Frankfurt.</p>

<p class="bodytext"><strong>Regelmäßig  tanze ich auf Festivals der Tanz- und Kulturszene und organisiere das Orientalische TanzFestival Stuttgart Global, das im ersten Märzwochenende jährlich stattfinden wird.</strong></p>

<p class="bodytext">Kontinuierliche Fort- und Weiterbildungen bei nationalen und internationalen Tänzer/innen der Orientalischen Bauchtanzszene sowie Unterricht in Flamenco sprechen für ein umfangreiches Tanzwissen in Theorie und Praxis. Die Freude, die ich  am Tanzen und Unterrichten  habe, überträgt sich auf meine Kursteilnehmerinnen. Kreativität, interessante Unterrichtsgestaltung sowie didaktische Kenntnisse sprechen für meine gut besuchten Kurse. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="span_7 col col-3">
          <div class="content content_right">
            <div class="obj_blocks">
              <div class="row">
                <div class="obj obj_block bg-3">
                  <h3>Dozentinnen</h3>
                  <div class="row">
                    <div class="row">
                      <div class="span_7 col col-1"><img src="../image/portrait_artemis.jpg" width="84" height="91" border="0" /></div>
                      <div class="span_1 col col-2"><div class="empty"></div></div>
                      <div class="span_16 col col-3">
                        <h5>Artemis</h5>
                        <p class="bodytext">Consectetuer adipiscing elit. Aenean comm odo ligula eget dolor. Aenean massa sociis natoquepe</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="span_7 col col-1"><img src="../image/portrait_yasirah.jpg" width="84" height="91" border="0" /></div>
                      <div class="span_1 col col-2"><div class="empty"></div></div>
                      <div class="span_16 col col-3">
                        <h5>Yasirah</h5>
                        <p class="bodytext">Consectetuer adipiscing elit. Aenean comm odo ligula eget dolor. Aenean massa sociis natoquepe</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="obj obj_block bg-3">
                  <h3>Kursort</h3>
                  <h5>Im Tankstudio City-Fitness</h5>
                  <p class="bodytext">Pfarrstraße 1 (3. OG) | 70182 Stuttgart<br />
                    <a href="link">www.cityfitness-stuttgart.de</a></p>
                </div>
              </div>
              <div class="row">
                <div class="obj obj_block bg-4">
                  <h3>Artemis als Showact</h3>
                  <p class="bodytext">Ich trete gerne als Showact auf Ihrem Fimen-Event oder Ihrer privaten Veranstaltung (Geburtstage, Hochzeiten, ...) auf.</p>
                  <a href="link">Artemis buchen &gt;</a>
                </div>
              </div>
              <div class="row">
                <div class="obj obj_block bg-3">
                  <h3>Kurse</h3>
                  <p class="bodytext">Donnerstags / 18:45 - 20:00 Uhr</p>
                  <h4>Oriental Jazz</h4>
                  <a href="link">Infos und Anmeldung &gt;</a>
                  <a href="link">Alle Kurse &gt;</a>
                </div>
              </div>
              <div class="row">
                <div class="obj obj_block bg-3">
                  <h3>Workshops</h3>
                  <p class="bodytext">Termin nach Bedarf</p>
                  <h4>Junggesellinnenabschied "1001 Nacht"</h4>
                  <a href="link">Infos und Terminabsprache &gt;</a>
                  <a href="link">Alle Workshops &gt;</a>
                </div>
              </div>
              <div class="row">
                <div class="obj obj_block bg-3">
                  <h3>Shows & Events</h3>
                  <p class="bodytext">07.06.14 / Vancouver</p>
                  <h4>Artemis als Workshop-Dozentin und Galatänzerin in Kanada</h4>
                  <a href="link">Weiterlesen &gt;</a>
                  <a href="link">Alle Shows & Events &gt;</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer row row-3">
      <div class="row row-1 bg-6">
        <div class="span_1 col col-1">
          <div class="empty"></div>
        </div>
        <div class="span_22 col col-2">
          <div class="nav nav_footer_1">
            <ul class="row">
              <li>Lassen Sie sich verzaubern von:</li>
              <li><a href="link">Orientalischem Bauchtanz</a></li>
              <li class="trenner"></li>
              <li><a href="link">Latino Oriental</a></li>
              <li class="trenner"></li>
              <li><a href="link">Arabic Flamenco</a></li>
              <li class="trenner"></li>
              <li><a href="link">Gipsy Tänze</a></li>
              <li class="trenner"></li>
              <li><a href="link">Balkantänze</a></li>
              <li class="trenner"></li>
              <li><a href="link">Tango Oriental</a></li>
              <li class="trenner"></li>
              <li><a href="link">Modern Oriental</a></li>
              <li class="trenner"></li>
              <li><a href="link">Modern Phantasy</a></li>
              <li class="trenner"></li>
              <li><a href="link">Folklore</a></li>
            </ul>
          </div>
        </div>
        <div class="span_1 col col-3">
          <div class="empty"></div>
        </div>
      </div>
      <div class="row row-2">
        <div class="span_3 col col-1">
          <img src="../image/bg_footer.jpg" width="138" height="280" border="0" />
        </div>
        <div class="span_7 col col-2">
          <div class="obj obj_address">
            <div class="row row-1">
              <img src="../image/obj_logo_footer.gif" width="300" height="87" border="0" />
            </div>
            <div class="row row-2">
              <p>
                Evi Dewald-Eberhardt<br>
                Kappelbergstrasse 56<br>
                70327 Stuttgart-Untertürkheim<br><br>
                
                Mobil: +49 (0)162 1535277<br>
                Fax:     +49 (0)711 3654755<br><br>
                
                <a href="link">evi@artemis-tanz.de</a><br>
                <a href="link">artemis-events@t-online.de</a>
              </p>
            </div>
          </div>
        </div>
        <div class="span_8 col col-3">
          <div class="row row-1">
            <div class="obj obj_newsletter">
              <h3>Unseren aktuellen Newsletter abonnieren ></h3>
            </div>
          </div>
          <div class="row row-2">
            <div class="span_12 col col-1">
              <div class="nav nav_footer_2">
                <ul class="row">
                  <li><a href="link">Impressum</a></li>
                  <li><a href="link">Datenschutz</a></li>
                  <li><a href="link">AGB</a></li>
                  <li><a href="link">Newsletter</a></li>
                  <li><a href="link">Folklore</a></li>
                  <li><a href="link">Folklore</a></li>
                </ul>
              </div>
            </div>
            <div class="span_12 col col-2">
              <div class="nav nav_footer_3">
                <ul class="row">
                  <li><a href="link">Folklore</a></li>
                  <li><a href="link">Folklore</a></li>
                  <li><a href="link">Folklore</a></li>
                  <li><a href="link">Folklore</a></li>
                  <li><a href="link">Folklore</a></li>
                  <li><a href="link">Folklore</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="span_5 col col-4">
          <div class="obj obj_facebook">s</div>
        </div>
        <div class="span_1 col col-5">
          <div class="empty"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="objs"></div>
  <script src="../js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="../js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
  <script src="../js/functions.js" type="text/javascript"></script>
</body>
</html>
